<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>@ViewBag.Title</title>

    <!-- Bootstrap Core CSS -->
    <link href="~/Content/Template/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="~/Content/Template/vendor/metisMenu/metisMenu.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="~/Content/Template/dist/css/sb-admin-2.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="~/Content/Template/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <style type="text/css">
        a.my-class {
            color: #000000;
            text-decoration: none
        }

            a.my-class:active {
                color: #ff0000;
                text-decoration: none
            }

            a.my-class:link {
                color: #000000;
                text-decoration: none
            }

        form-class {
            padding-left: 256px;
        }

    </style>

</head>

<body style="background-image:url('../../Content/Template/login-background.jpg')">

    <div class="container">
        <div>
            @RenderBody()
        </div>
    </div>

    <!-- jQuery -->
    <script src="~/Content/Template/vendor/jquery/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="~/Content/Template/vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="~/Content/Template/vendor/metisMenu/metisMenu.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="~/Content/Template/dist/js/sb-admin-2.js"></script>

    

</body>

</html>
