@model IEnumerable<QuanLyDienThoaiEntity.Models.ACCOUNT>

@{
    ViewBag.Title = "Trang chủ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="page-wrapper">
    <div class="row">
        <h2>Chào mừng bạn đến với trang quản lý</h2>

        
    </div>
</div>